<app-main-header></app-main-header>
<app-main-side-bar></app-main-side-bar>
<div class="content-wrapper">
    <section  class="content">
        <div  class="container-fluid">
            <div class="row">
                <app-basic-line class="col-lg-12 connectedSortable"></app-basic-line>
                <app-pie class="col-lg-6 connectedSortable"></app-pie>
                <app-column class="col-lg-6 connectedSortable"></app-column>
            </div>
        </div>
    </section>
</div>
<app-main-footer></app-main-footer>

