<div class="card bg-dark">
    <div class="card-header">

        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label (click)="getAll()" class="btn  btn-primary btn-sm active ">
                <input type="radio" name="options" id="option1" checked> Todas
            </label>
            <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sucursales
              </button>
              <div class="dropdown-menu">
                <a (click)="getMexicoSellPerYear()" class="dropdown-item"  >Mexico</a>
                <a (click)="getMonterreySellPerYear()" class="dropdown-item" >Monterrey</a>
                <a (click)="getVeracruzSellPerYear()" class="dropdown-item" >Veracruz</a>
                <div class="dropdown-divider"></div>
                <a (click)="getMexicaliSellPerYear()" class="dropdown-item" >Mexicali</a>
                <a (click)="getQueretaroSellPerYear()" class="dropdown-item" >Queretaro</a>
              </div>
        </div>
        <!--         <div class="card-title">
            <ul class="nav nav-pills ">
                <li (click)="getAll()" class="nav-item">
                    <a class="nav-link active" href="#revenue-chart" data-toggle="tab">Todas</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="btn btn-danger dropdown-toggle nav-link active ml-2" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sucursales</a>
                    <div class="dropdown-menu">
                        <a (click)="getMexicoSellPerYear()" class="dropdown-item"  >Mexico</a>
                        <a (click)="getMonterreySellPerYear()" class="dropdown-item" >Monterrey</a>
                        <a (click)="getVeracruzSellPerYear()" class="dropdown-item" >Veracruz</a>
                        <div class="dropdown-divider"></div>
                        <a (click)="getMexicaliSellPerYear()" class="dropdown-item" >Mexicali</a>
                        <a (click)="getQueretaroSellPerYear()" class="dropdown-item" >Queretaro</a>
                    </div>
                </li>
            </ul>
        </div> -->
        <div *ngIf="all" class="card-tools">
            <!--             <ul class="nav nav-pills ml-auto">
                <li (click)='anio20(2020)' class="nav-item">
                    <a class="nav-link active"  data-toggle="tab">2020</a>
                </li>
                <li (click)='anio19(2019)' class="nav-item">
                    <a class="nav-link"  data-toggle="tab">2019</a>
                </li>
                <li (click)='anio18(2018)' class="nav-item">
                    <a class="nav-link"  data-toggle="tab">2018</a>
                </li>
            </ul> -->
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label (click)='anio18(2018)' class="btn  btn-primary btn-sm active">
                    <input type="radio" name="options" id="option1" checked> 2018
                </label>
                <label (click)='anio19(2019)' class="btn btn-primary btn-sm">
                    <input type="radio" name="options" id="option2"> 2019
                </label>
                <label (click)='anio20(2020)' class="btn btn-primary btn-sm">
                    <input type="radio" name="options" id="option3"> 2020
                </label>
            </div>
        </div>

    </div><!-- /.card-header -->
    <div class="card-body">
        <div class="tab-content p-0">

            <highcharts-chart id="line" [Highcharts]="Highcharts" [options]="chartOptions"
                style=" width: 100%; display: block;">
            </highcharts-chart>

        </div>
    </div><!-- /.card-body -->
</div>